
<section class="services-section">
    <h2>Our Services</h2>
    <ul>
        <li>Fast Fashion Collections</li>
        <li>Online Shopping & Delivery</li>
        <li>In-store Pickup</li>
        <li>Sustainable Fashion Line</li>
        <li>Easy Returns & Exchanges</li>
    </ul>
</section>

